{% extends "base.html" %}

{% block title %}
add movie
{% endblock %}

{% block body %}


<div class="container">
    <!-- Форма отправляет данные (POST) на адрес /add -->
    <form action="/add" method="POST" class="movie-form">
        
        <h3>Add new movie</h3>
        <label>Movie name:</label><br>
        <input type="text" name="title" required><br><br>
        
        <label>Release date:</label><br>
        <input type="Integer" name="release_year"><br><br>

        <label>director:</label><br>
        <input type="text" name="director"><br><br>

        <label for="movie_poster">Movie poster:</label><br>
        <input type="file" id="movie_poster" name="movie_poster" accept="image/*"><br><br>
        
        <label>Movie description:</label><br>
        <textarea name="movie_description" rows="4" cols="50"></textarea><br><br>

        <button type="submit" class="btn-primary">Сохранить в базу</button>
    </form>
</div>

{% endblock %}